@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Roboto", sans-serif*/

/* Variables */

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #362417;
    --secondary-color: #47301F;
    --bg-light: #F1DABF;
}

/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-color);
    background: var(--bg-light);
}

/* Header */
header {
    background: var(--bg-light);
    color: var(--primary-color);
    padding: 30px 40px;
    border-bottom: 2px solid var(--primary-color);
}

section {
    margin-bottom: 20px;
    padding: 20px;
}

.biografia{
    background: var(--primary-color);
    color: var(--bg-light);
}

/* Tipografía */
h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.55;

}

footer {
    font-size: 0.5rem;
    padding: 1rem;
}
